# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Node
node_modules/

# Temp
*.tmp
*.bak
*.swp
*~
.DS_Store
Thumbs.db

# Pandoc intermediate
*.html

# Zenodo
.zenodo_token

# Notebooks
notebooks/.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Wrangler
.wrangler/
